<div id="<%= dom_id member %>">
  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= member.height %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= member.weight %>
  </p>

</div>
